.navbar {
	height: 150px;
	margin-bottom: 1px;
	background-color: #F4F3EE;
	position: fixed;
	bottom: 0;
	width: 100%;
	opacity: 0;
}

.hamburger-icon {
	height: 90px;
	width: 100px;
	float: right;
	margin-top: 80px;
	display: inline-block;
}

.line {
	color: black;
	background-color: black;
	height: 10px;
	width: 60px;
	margin: 10px 0;
}

.map-icon, .calendar-icon, .phone-icon {
	height: 75px;
	margin-bottom: 7px;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	opacity: 1;
}

.phone-icon {
	width: 80px;
	margin-left: 25%;
}

.map-icon {
	margin-left: 20%;
}

.nothing {
	background-color: grey;
	height: 1500px;
}

.icon-container {
	display: inline-block;
	margin: 0px 20px;
}

.other-icons {
	display: inline-block;
	margin-left: 70px;
}

.calendar-icon {
	margin-left: 30%;
}

.locations, .appointments, .contact-us {
	display: block;
	font-size: 20pt;
	font-family: 'Work Sans', serif;
}

.locations {
	background-color: #d5e1df;
	width: 1000px;
}

.header img {
	height: 225px;
	display: inline-block;
	vertical-align: middle;
	width: 310px;
	margin-left: 3%;
}

.header {
	background:#DBE6E9;
	width: 1001px;
}

hr {
	margin: 0px;
}

.menu {
	background-color: gray;
	padding: 0 auto;
	overflow: hidden;
	width: 1000px;
}

.hidden {
	display: none;
}

.flood-img {
	display: block;
	width: 40%;
	margin: auto;
	height: 300px;
	width: 350px;
}

.about-me {
	background-color: snow;
	margin: 0;
	padding: 0;
	width:1000px;
}

.services {
	margin: 0;
	padding: 0;
	width: 1000px;
}

a {
	text-decoration: none;
	color: #fff;
}

a::hover {
	text-decoration: none;
	color: #fff;
}

.checkmark {
	height: 50px;
	width: 50px;
}

.about-me p {
	font-family: 'Arial', sans-serif;
    margin-left: 6%;
    font-size: 1.5em;
    margin-right: 6%;
}

h4 {
	font-family: 'Arvo', serif;
	text-align: center;
}

.about-me-header {
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 30pt;
	margin: 0 auto;
	padding: 40px;
}

.services-header {
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 30pt;
	margin: 0 auto;
	padding: 10px;
}

#map-1, #map-2, #map-3 {
    width:100%;
	height:400px;
	margin-bottom: 50px;
}

.address-1, .address-2, .address-3 {
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 18pt;
	margin: 0 auto;
	margin-bottom: 20px;
}

.address-2, .address-3 {
	margin-top: 80px;
}

.locations-header {
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 30pt;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.services li {
	padding: 10px;
	list-style: none;
	margin: 0 auto;
	margin-left: 16%;
}

.services ul {
	position: relative;
}

.desc {
	font-size: 24pt;
	font-family: 'Work Sans', serif;
	margin-left: 10px;
	position: absolute;
	top: 24%;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev, .next {
  cursor: pointer;
   position: absolute;
   width: auto;
   color: black;
   font-weight: bold;
   font-size: 70px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   top: 27%;
}

.prev {
	left: 5px;
}

.next {
	right: 5px;
}

.slides {
	position: relative;
	opacity: 80%;
	height: 400px;
	max-width: 1000px;
	width: 1000px;
}

.slide {
	position: absolute;
	display: none;
}

.slide-container img {
	width: 1000px;
	height: 400px;
}

.slide.active {
	display: block;
}

.hours-1-header, .mon, .tue, .wed, .thu, .fri {
	font-family: 'Arvo', serif;
	font-size: 18px;
	text-align: center;
}

.hours-1-header {
	font-weight: bold;
	text-decoration: underline;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	font-size: 24pt;
	border-bottom: solid black 1px;
	text-align: center;
	padding: 20px;
	border-bottom: 1px solid #333;
	font-family: 'Roboto', serif;
	color: #fff;
}

body, html {
	margin: 0 auto;
	padding: 0 auto;
}

.locations-header h3 {
	margin-top: 20px;
}

@media (min-width: 769px) {


}