
.hamburger-icon {
		margin-top: 10px;
    display: inline-block;
    float: right;
    position: absolute;
    left: 90%;
    transform: translateY(83%);
}

.line {
	color: black;
	background-color: black;
	height: 4px;
	width: 22px;
	margin: 3px 0;
}

.locations, .appointments, .contact-us {
	display: block;
	font-size: 20pt;
	font-family: 'Work Sans', serif;
}

.locations {
	background-color: #d5e1df;
	width: 100%;
}

.header img {
    height: 80px;
    display: inline-block;
    vertical-align: middle;
    width: 115px;
    margin-left: 2%;
		position: relative
}

.header {
	background:#DBE6E9;
	width: 100%;
}

hr {
	margin: 0px;
}

.menu {
	background-color: gray;
	padding: 0 auto;
	overflow: hidden;
	width: 100%;
}

.hidden {
	display: none;
}

.flood-img {
    display: block;
    width: 40%;
    margin: auto;
    height: 176px;
    width: 67%;
}

.about-me {
	background-color: snow;
	margin: 0;
	padding: 0;
}

.services {
	margin: 0;
	padding: 0;
	width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
}

a::hover {
	text-decoration: none;
	color: #fff;
}

.checkmark {
    height: 25px;
    width: 25px;
}

.about-me p {
	font-family: 'Arial', sans-serif;
    margin-left: 6%;
    font-size: 13pt;
    margin-right: 6%;
		margin-top: 40px;
		margin-bottom: 20px;
}

.intro {
	font-family: 'Arial', sans-serif;
	margin-left: 6%;
	margin-right: 6%;
	font-size: 1.5em;
	margin-right: 25%;
	margin-top: 40px;
}

h4 {
	font-family: 'Arial', serif;
	text-align: center;
	margin-bottom: 30px
}

.edu-exp-header {
	font-size: 30pt;
	margin-top: 40px;
}

.content.first {
	margin-top: 40px;
}

.about-me-header {
	text-align: center;
	font-family: 'Helvetica';
	font-size: 17pt;
	margin: 0 auto;
	margin-top:167px;
	margin-bottom: 20px
}

.services-header, .insurance-header {
	text-align: center;
	font-family: 'Arial', serif;
	font-size: 20pt;
	margin: 0 auto;
}

#map-1, #map-2, #map-3 {
    width:100%;
	height:400px;
	margin-bottom: 50px;
}

.address-1, .address-2, .address-3 {
	text-align: center;
	font-family: 'Arial', serif;
	font-size: 18pt;
	margin: 0 auto;
	margin-bottom: 20px;
}

.address-2, .address-3 {
	margin-top: 40px;
}

.locations-header {
	text-align: center;
	font-weight: bold;
	font-family: 'Arial', serif;
	font-size: 20pt;
	margin: 0 auto;
	padding: 10px;
	margin-bottom: 20px;
	padding-top: 30px;
}

.services li {
	padding: 10px;
	list-style: none;
	margin: 0 auto;
	margin-left: 16%;
}

.services ul {
	position: relative;
}

.desc {
	font-size: 14pt;
    font-family: 'Work Sans', serif;
    margin-left: 11px;
    position: absolute;
    top: 6%;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    color: black;
    font-weight: bold;
    font-size: 31px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    top: 50px;
}

.prev {
	left: 5px;
}

* { padding: 0; margin: 0;}

.next {
	right: 5px;
}

.slides {
    position: relative;
    opacity: 80%;
    width: 100%;
}


.slide {
	position: absolute;
	display: none;
}

.slides img {
	width: 100%;
	height: 152px;
}

.slide.active {
	display: block;
}

.hours-1-header, .mon, .tue, .wed, .thu, .fri {
	font-family: 'Arial', serif;
	font-size: 18px;
	text-align: center;
}

.hours-1-header {
	font-weight: bold;
	text-decoration: underline;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
    font-size: 1em;
    border-bottom: solid black 1px;
    text-align: center;
    padding: 7px;
    border-bottom: 1px solid #333;
    font-family: 'Roboto', serif;
    color: #fff;
}

body, html {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
    height: 100% 100%;
    box-sizing: border-box;
  	background-size: cover;
  	border: 1px black;
}

.locations-header h3 {
	margin-top: 20px;
}

.footer {
	height: 50px;
	background-color: gray;
}

.timeline {
	background-color: snow;
}

.timeline {
	border-left: 5px solid #d1d1d1;
	margin-left: 100px;
	position: relative;
	margin-top: 50px;
	background-color: white;
}

.content {
	margin-top: 80px;
}
.content::before, .marker {
	border-radius: 50%;
	height: 20px;
	width: 20px;
	background-color: white;
	content: '';
	border: 4px solid #6A8471;
	z-index: 1;
	position: absolute;
	left: -16px;
}

.marker {
	left: 89px;
}


.year {
 	margin-left: 100px;
	color: gray;
	font-size: 4em;
	font-family: 'Arial', serif;
	line-height: 20px;
}

.content:last-child {
	margin: 0px;
}

.content::before:last-child {
	margin-left: 500px;
}

.education {
	font-weight: bold;
	font-family: 'Arial', sans-serif;
	font-size: 28pt;
	margin-left: 100px;
	margin-top: 25px;
	width: 75%;
}

.more-info {
	font-family: 'Arial', sans-serif;
	font-size: 1em;
	margin-left: 100px;
	margin-top: 20px;
}

@media only screen and (min-width: 768px) and (max-width:1223px) {
.header {
	width: 100%;
}

.slides img {
	width: 1050px;
}

.hours-1-header, .mon, .tue, .wed, .thu, .fri {
font-size: 31pt;
}

}

@media only screen and (min-width: 1224px) {
	.slides img {
		width:1366px;
	}
}

@media screen and (min-width:1367px) and (max-width: 1500px) {
	.slides img {
		width: 1400px;
	}
}
